[submodule "3rdParty/Detours"]
	path = 3rdParty/Detours
	url = https://github.com/paulsapps/Detours.git
[submodule "3rdParty/googletest"]
	path = 3rdParty/googletest
	url = https://github.com/google/googletest.git
