version: 1.0.{build}

configuration:
  - Debug

environment:
  #APPVEYOR_VNC_PASSWORD: alive_rev
  #APPVEYOR_VNC_BLOCK: false

  matrix:
    - job_name: macOS
      appveyor_build_worker_image: macos-monterey

    - job_name: Linux
      appveyor_build_worker_image: Ubuntu

    - job_name: Windows32
      appveyor_build_worker_image: Visual Studio 2022

    - job_name: Windows64
      appveyor_build_worker_image: Visual Studio 2022

for:
  -
    matrix:
      only:
        - job_name: macOS

    platform:
      - x64

    #init:
    #  - sh: curl -sflL 'https://raw.githubusercontent.com/appveyor/ci/master/scripts/enable-vnc.sh' | bash -e -

    build_script:
      - brew install sdl2
      - brew install molten-vk
      - git submodule update --init --depth=1
      - cmake --version
      - mkdir build
      - cd build
      - mkdir Frameworks
      - cp /usr/local/lib/libSDL2.dylib ./Frameworks/libSDL2.dylib
      - cp /usr/local/Cellar/molten-vk/1.2.1/lib/libMoltenVK.dylib ./Frameworks/libMoltenVK.dylib
      - cmake -D BUILD_NUMBER=$APPVEYOR_BUILD_NUMBER -D CI_PROVIDER="AppVeyor" -G "Unix Makefiles" ..
      - make -j4
      - cpack -G DragNDrop

    install:
      - git submodule update --init --recursive --depth=1

    artifacts:
      - path: 'build/relive-0.1-Darwin.dmg'
        name: relive-macOS

  -
    matrix:
      only:
        - job_name: Linux

    platform:
      - x64

    build_script:
      - sudo add-apt-repository ppa:savoury1/multimedia
      - sudo apt-get update
      - sudo apt-get install libsdl2-dev -y
      - git submodule update --init --depth=1
      - cmake --version
      - mkdir build
      - cd build
      - cmake -D BUILD_NUMBER=$APPVEYOR_BUILD_NUMBER -D CI_PROVIDER="AppVeyor" -G "Unix Makefiles" ..
      - make -j4
      - cpack -G DEB

    install:
      - git submodule update --init --recursive --depth=1

    artifacts:
      - path: 'build/relive-0.1-Linux.deb'
        name: relive-linux

  -
    matrix:
      only:
        - job_name: Windows32

    image: 
    platform:
      - x86

    clone_folder: c:\relive

    build_script:
      - mkdir build
      - cd build
      - echo %APPVEYOR_BUILD_NUMBER%
      - cmake .. -DSDL2_DIR=c:\relive\SDL2-2.0.22 -DBUILD_NUMBER=%APPVEYOR_BUILD_NUMBER% -DCI_PROVIDER=AppVeyor -G "Visual Studio 17 2022" -A Win32
      - cmake --build . --config %configuration% -- /logger:"C:\Program Files\AppVeyor\BuildAgent\Appveyor.MSBuildLogger.dll"
      - call "C:\Program Files\cmake\bin\cpack" -G ZIP -C %configuration%
      - ctest

    install:
      - git submodule update --init --recursive --depth=1
      - ps: Start-FileDownload 'https://www.libsdl.org/release/SDL2-devel-2.0.22-VC.zip'
      - 7z x SDL2-devel-2.0.22-VC.zip

    after_build:
      - ps: if($env:APPVEYOR_PULL_REQUEST_NUMBER) { $env:PR_STR = "_PR$env:APPVEYOR_PULL_REQUEST_NUMBER" } else {  $env:PR_STR = "" }
      - 7z a RELIVE_Windows_Symbols%PR_STR%_%CONFIGURATION%_x86.zip c:\relive\build\Source\relive\%CONFIGURATION%\relive.pdb
      - rename relive-*.zip RELIVE_Windows_Binaries_Full%PR_STR%_%CONFIGURATION%_x86.zip
      - 7z a RELIVE_Windows_Binaries_Lite%PR_STR%_%CONFIGURATION%_x86.zip c:\relive\build\Source\relive\%CONFIGURATION%\relive.exe c:\relive\build\Source\relive\%CONFIGURATION%\SDL2.dll

    artifacts:
      - path: build\RELIVE_Windows_Symbols*.zip
        name: RELIVE_Windows_Symbols_$(configuration)_$(APPVEYOR_BUILD_NUMBER)

      - path: build\RELIVE_Windows_Binaries_Full*.zip
        name: RELIVE_Windows_Binaries_Full_$(configuration)_$(APPVEYOR_BUILD_NUMBER)

      - path: build\RELIVE_Windows_Binaries_Lite_*.zip
        name: RELIVE_Windows_Binaries_$(configuration)_x86
    
  -
    matrix:
      only:
        - job_name: Windows64

    platform:
      - x64

    clone_folder: c:\relive

    build_script:
      - mkdir build
      - cd build
      - echo %APPVEYOR_BUILD_NUMBER%
      - cmake .. -DSDL2_DIR=c:\relive\SDL2-2.0.22 -DBUILD_NUMBER=%APPVEYOR_BUILD_NUMBER% -DCI_PROVIDER=AppVeyor -G "Visual Studio 17 2022" -A x64
      - cmake --build . --config %configuration% -- /logger:"C:\Program Files\AppVeyor\BuildAgent\Appveyor.MSBuildLogger.dll"
      - call "C:\Program Files\cmake\bin\cpack" -G ZIP -C %configuration%
      - ctest

    install:
      - git submodule update --init --recursive --depth=1
      - ps: Start-FileDownload 'https://www.libsdl.org/release/SDL2-devel-2.0.22-VC.zip'
      - 7z x SDL2-devel-2.0.22-VC.zip

    after_build:
      - ps: if($env:APPVEYOR_PULL_REQUEST_NUMBER) { $env:PR_STR = "_PR$env:APPVEYOR_PULL_REQUEST_NUMBER" } else {  $env:PR_STR = "" }
      - 7z a RELIVE_Windows_Symbols%PR_STR%_%CONFIGURATION%_x64.zip c:\relive\build\Source\relive\%CONFIGURATION%\relive.pdb
      - rename relive-*.zip RELIVE_Windows_Binaries_Full%PR_STR%_%CONFIGURATION%_x64.zip
      - 7z a RELIVE_Windows_Binaries_Lite%PR_STR%_%CONFIGURATION%_x64.zip c:\relive\build\Source\relive\%CONFIGURATION%\relive.exe c:\relive\build\Source\relive\%CONFIGURATION%\SDL2.dll

    artifacts:
      - path: build\RELIVE_Windows_Symbols*.zip
        name: RELIVE_Windows_Symbols_$(configuration)

      - path: build\RELIVE_Windows_Binaries_Full*.zip
        name: RELIVE_Windows_Binaries_Full_$(configuration)

      - path: build\RELIVE_Windows_Binaries_Lite_*.zip
        name: RELIVE_Windows_Binaries_$(configuration)_x64

test: off
