
trigger:
- master

jobs:
- job: Linux
  pool:
    vmImage: 'ubuntu-latest'
  steps:
  - script: |
        sudo apt-get update
        sudo apt-get install libsdl2-dev
        git submodule update --init
        cmake --version
        mkdir build
        cd build
        cmake -G"Unix Makefiles" ..
        make -j4
        cpack -G DEB
- job: macOS
  pool:
    vmImage: 'macOS-latest'
  steps:
  - script: |
        brew install sdl2
        git submodule update --init
        cmake --version
        mkdir build
        cd build
        cmake -G"Unix Makefiles" ..
        make -j4
- job: Windows32
  pool:
    vmImage: 'windows-latest'
  steps:
  - script: |
        set AE_PATH=C:\\GOG Games\\Abes Exoddus
        set AO_PATH=C:\\GOG Games\\Abes Oddysee
        mkdir "C:\\GOG Games\\Abes Exoddus"
        mkdir "C:\\GOG Games\\Abes Oddysee"
        git submodule update --init
        mkdir C:\temp
        powershell Invoke-WebRequest 'https://www.libsdl.org/release/SDL2-devel-2.0.9-VC.zip' -OutFile C:\temp\SDL2-devel-2.0.9-VC.zip
        7z x C:\Temp\SDL2-devel-2.0.9-VC.zip -oC:\Temp
        mkdir build
        cd build
        cmake .. -DCMAKE_VERBOSE_MAKEFILE:BOOL=ON -DSDL2_DIR=C:\Temp\SDL2-2.0.9 -G "Visual Studio 16 2019" -A Win32
        cmake --build .
        cpack.exe -G ZIP -C X86
- job: Windows64
  pool:
    vmImage: 'windows-latest'
  steps:
  - script: |
        set AE_PATH=C:\\GOG Games\\Abes Exoddus
        set AO_PATH=C:\\GOG Games\\Abes Oddysee
        mkdir "C:\\GOG Games\\Abes Exoddus"
        mkdir "C:\\GOG Games\\Abes Oddysee"
        git submodule update --init
        mkdir C:\temp
        powershell Invoke-WebRequest 'https://www.libsdl.org/release/SDL2-devel-2.0.9-VC.zip' -OutFile C:\temp\SDL2-devel-2.0.9-VC.zip
        7z x C:\Temp\SDL2-devel-2.0.9-VC.zip -oC:\Temp
        mkdir build
        cd build
        cmake .. -DCMAKE_VERBOSE_MAKEFILE:BOOL=ON -DSDL2_DIR=C:\Temp\SDL2-2.0.9 -G "Visual Studio 16 2019" -A x64
        cmake --build .
        cpack.exe -G ZIP -C X64
